.accordion {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
  
  .accordion__item {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
  }
  
  .accordion__question {
    color: rgb(15, 66, 51);;
    background: none;
    border: none;
    width: 100%;
    text-align: left;
    font-size: 1.2rem;
    cursor: pointer;
    padding: 10px;
    transition: background-color 0.3s ease;
  }
  
  .accordion__question:hover {
    background-color: #f0f0f0;
  }
  
  .accordion__answer {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.4s ease, opacity 0.4s ease;
  }
  
  .accordion__item.active .accordion__answer {
    max-height: 200px; 
    opacity: 1;
    padding: 10px 0;
  }

body {
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  #home {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }


  
  .button {
    border: 1px solid black;
    border-radius: 25px;
    background-color: white;
    font-weight: bold;
    color: black;
    padding: 15px 35px;
    transition: 0.4s;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: black;
    color: white;
  }
  

  body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  