    .drawer {
      position: fixed;
      background: white;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
      transition: transform 0.4s ease-in-out;
      padding: 20px;
      z-index: 1000;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 5px;
    }

    .drawer--left {
      top: 0;
      left: 0;
      width: 250px;
      height: 100vh;
      transform: translateX(-100%);
    }

    .drawer--left.open {
      transform: translateX(0);
    }

    .drawer--right {
      top: 0;
      right: 0;
      width: 250px;
      height: 100vh;
      transform: translateX(100%);
    }


    .drawer--right.open {
      transform: translateX(0);
    }

    .color-green {

      background-color: rgb(15, 66, 51);;

    }


    #closeDrawer, #closeDrawerRight {
      background: none;
      border: none;
      font-size: 24px;
      cursor: pointer;
    }

    #drawerMenuOpen {

      position: absolute;
      top: 60px;
      left: 50px;
      height: 30px;
      cursor: pointer;
      z-index: 999;
      

    }

      