.header {
    margin-top: 100px;
    margin-bottom: 80px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
    border-radius: 25px;
}

h1 {
    color: rgb(15, 66, 51);
    text-decoration: underline;
}